* {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Black.ttf);
}
@font-face {
  font-family: "Pacifico";
  src: url(../fonts/Pacifico-Regular.ttf);
}
body {
  font-family: "Ubuntu";
}

.centar {
  width: 80%;
  margin: 0px auto;
}

header {
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#logo {
  margin: 1% 2%;
  font-family: "Pacifico";
}
#logo a {
  text-decoration: none;
  color: white;
}
#logo .boja {
  color: #8a2ea3;
}

nav {
  margin-top: 2.5%;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  display: inline;
}
nav ul li a {
  text-decoration: none;
  color: #8a2ea3;
  margin-left: 10px;
  font-size: 18px;
}
nav a:hover {
  color: white;
}

.last-child {
  margin-right: 15px;
}

#pozadina {
  width: 100%;
  height: 500px;
  background-image: url("../slikep/pozadina_ljub.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#pozadina h2 {
  color: white;
  margin-right: 30px;
  font-size: 40px;
}

#tamno {
  background-color: rgba(0, 0, 0, 0.5);
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#aboutme {
  background-color: rgba(0, 0, 0, 0.9);
}
#aboutme h2 {
  color: #8a2ea3;
  padding: 30px 0px;
  text-align: center;
  font-size: 40px;
}
#aboutme p {
  color: white;
  width: 75%;
  margin: 0px auto;
  text-align: center;
  padding-bottom: 30px;
}

#drzac {
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
}
#drzac #slika {
  width: 400px;
  height: 400px;
  background-image: url("../slikep/slika.jpg");
  background-size: cover;
  border-radius: 50%;
  margin-right: 10%;
  padding-top: 1%;
}

#info-tekst h3 {
  color: #8a2ea3;
  text-align: center;
  padding-top: 1%;
  font-size: 25px;
  padding-bottom: 5px;
}
#info-tekst p {
  text-align: center;
}

#skills {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  padding-bottom: 3%;
}
#skills h2 {
  color: #8a2ea3;
  padding: 30px 0px;
  text-align: center;
  font-size: 40px;
}
#skills #drzac-polja {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3%;
}
#skills .polje {
  width: 22%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5%;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
  text-align: center;
}
#skills .polje h3 {
  font-size: 30px;
  padding: 20px 0px;
  color: rgba(0, 0, 0, 0.6);
}
#skills .polje p {
  color: rgba(0, 0, 0, 0.6);
  padding: 4% 0%;
}
#skills .polje:hover {
  box-shadow: 5px 5px 7px rgba(138, 46, 163, 0.4);
}
#skills .fa-brands {
  font-size: 50px;
  color: #8a2ea3;
  padding-bottom: 3%;
}

#projects {
  background-color: rgba(0, 0, 0, 0.9);
}
#projects h2 {
  color: #8a2ea3;
  padding: 30px 0px;
  text-align: center;
  font-size: 40px;
}
#projects #drzac-projekat {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3% 0%;
}
#projects #drzac-projekat .projekat p {
  color: white;
  text-align: center;
  padding: 2% 0%;
  font-size: 15px;
}
#projects #drzac-projekat .projekat .dugme {
  margin: 3% auto;
}
#projects #drzac-projekat .projekat .dugme a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 20px;
  width: inherit;
  text-align: center;
  background-color: #8a2ea3;
  padding: 4% 10%;
}
#projects #drzac-projekat .projekat .dugme a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
#projects #drzac-projekat .projekat {
  width: 32%;
  font-size: 30px;
}
#projects #drzac-projekat .projekat img {
  width: 100%;
  height: 200px;
  border-radius: 20px;
}

#contact {
  background-color: rgba(0, 0, 0, 0.2);
}
#contact h2 {
  color: #8a2ea3;
  text-align: center;
  font-size: 40px;
  padding: 3% 0%;
}
#contact #adresa {
  display: flex;
  justify-content: space-around;
}
#contact #adresa .adresa-polje {
  width: 30%;
  text-align: center;
}
#contact #adresa .adresa-polje .fa {
  color: #8a2ea3;
  font-size: 40px;
  padding: 2% 0%;
}
#contact #adresa .adresa-polje h3 {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.7);
}
#contact #adresa .adresa-polje p {
  font-size: 20px;
}
#contact #forma {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2%;
  padding-bottom: 5%;
}
#contact #forma input {
  width: 30%;
  margin: 2% 0%;
  padding: 15px 7px;
  border: 2px solid #8a2ea3;
  border-style: inset;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0);
}
#contact #forma textarea {
  height: 100px;
  width: 100%;
  border: 2px solid #8a2ea3;
  border-radius: 20px;
  border-style: inset;
  background-color: rgba(0, 0, 0, 0);
}
#contact #forma .dugme {
  margin: 3% auto;
}
#contact #forma .dugme a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 20px;
  width: inherit;
  text-align: center;
  background-color: #8a2ea3;
  padding: 10px 20px;
}
#contact #forma .dugme a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

footer {
  background-color: rgba(0, 0, 0, 0.9);
  font-size: 25px;
}
footer .centar {
  display: flex;
  justify-content: space-between;
}
footer #cpr {
  color: #8a2ea3;
  padding: 2% 0%;
}
footer #nesto {
  padding: 2% 0%;
}
footer #nesto a {
  color: #8a2ea3;
}
footer #nesto a:hover {
  color: white;
}/*# sourceMappingURL=style.css.map */